@page
@model MoatGate.Pages.Profile.EditModel
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}
<div>
    <h1>Edit Profile</h1>
    <hr />
    <form class="form-horizontal" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-lg-2 text-center profileEditOptions">
            <div class="row">
                <img id="profile-img" class="profile-img-card img-circle" @{if (!string.IsNullOrWhiteSpace(Model.EditProfileViewModel.ProfilePictureUrl)) { <text> src="@Model.EditProfileViewModel.ProfilePictureUrl" </text>  } else { <text> src="https://s.aficionados.com.br/imagens/king-of-asgard.jpg" </text>  } } />
            </div>
            <div class="">
                <div class="form-group">
                    <div>
                        <input class="checkbox-inline" asp-for="@Model.RefreshSignIn" /> <label>Refresh SignIn</label>
                        <i class="fas fa-info-circle" id="infoRefreshSignin"
                           data-toggle="tooltip" data-placement="right" data-html="true" title="For the profile update to be visible, the user sign in needs to be refreshed"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input class="checkbox-inline" asp-for="@Model.RememberMe" /> <label>Remember Me</label>
                        <i class="fas fa-info-circle" id="infoRefreshSignin"
                           data-toggle="tooltip" data-placement="right" data-html="true" title="In the case of sign in refresh, keeps authentication session even after the browser is closed"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="btn-group-vertical" role="group">
                    <button type="submit" class="btn btn-primary btn-success"><i class="fas fa-save"></i> Save Edit</button>
                    <a asp-page="./Index" class="btn btn-primary btn-danger"><i class="fas fa-times"></i> Cancel Edit</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.FirstName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.FirstName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.MiddleName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.MiddleName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.LastName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.LastName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Nickname)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Nickname" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.PreferedUserName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.PreferedUserName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Website)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Website" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Email)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Email" />
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Gender)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Gender" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.BirthDate)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.BirthDate" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.TimeZone)</label>
                <div>
                    <select class="form-control applyChosen" data-placeholder="Select Timezone" id="ddlTimezone" asp-for="EditProfileViewModel.TimeZone" asp-items="@(new SelectList(Model.TimeZones))">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Locale)</label>
                <div>
                    <select class="form-control applyChosen" data-placeholder="Select Locale"  id="ddlLocale" asp-for="EditProfileViewModel.Locale" asp-items="@(new SelectList(Model.Cultures, "Key", "Value"))">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.PhoneNumber)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.PhoneNumber" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Address)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Address" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.Password)</label>
                <div>
                    <input class="form-control" placeholder="Password" asp-for="@Model.Password" />
                </div>
                <small><i class="fas fa-exclamation-triangle"></i> For Security Reasons, updating the Email address requires the user password</small>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Profile/edit.js" asp-append-version="true"></script>
}

