@page
@using System.Globalization
@model MoatGate.Pages.Profile.IndexModel
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}
<div>
    <h1>User Profile</h1>
    <hr />
    <form class="form-horizontal">
        <div class="col-lg-2 text-center">
            <div class="form-group">
                <img id="profile-img" class="profile-img-card img-circle" @{if (!string.IsNullOrWhiteSpace(Model.UserProfileViewModel.ProfilePictureUrl)) { <text> src="@Model.UserProfileViewModel.ProfilePictureUrl" </text>  } else { <text> src="https://s.aficionados.com.br/imagens/king-of-asgard.jpg" </text>  } } />
            </div>
            <div class="form-group">
                <label class="control-label">User ID</label>: @Model.Id
            </div>
            <div class="form-group">
                <label class="control-label">Username</label>: @Model.Username
            </div>
            <div class="form-group">
                <div class="btn-group-vertical" role="group">
                    <a asp-page="./Edit" class="btn btn-primary btn-profilePage"><i class="fas fa-edit"></i> Edit Profile</a>
                    <a asp-page="/Account/ChangePassword" class="btn btn-success btn-profilePage"><i class="fas fa-key"></i> Change Password</a>
                    @if (!Model.UserProfileViewModel.EmailVerified)
                    {
                        <button type="button" class="btn btn-warning" id="btnVerityEmail"><i class="fas fa-envelope"></i> Verify Email</button>
                    }

                    @if (!Model.UserProfileViewModel.PhoneNumberVerified)
                    {
                        <button type="button" class="btn btn-warning phoneVerificationControl" id="btnVerityPhone"><i class="fas fa-phone"></i> Verify Phone</button>
                    }
                </div>
            </div>
            @if (!Model.UserProfileViewModel.PhoneNumberVerified)
            {
                <div class="phoneVerificationControl form-group-sm col-lg-12">
                    <small>Already have a phone verification code?</small>
                    <input type="text" placeholder="Verification Code" class="form-control" id="txtPhoneVerificationCode" />
                    <button type="button" style="margin-top:3px;" class="btn btn-xs btn-primary pull-right" id="btnConfirmPhoneVerification"><i class="fas fa-check"></i> Confirm</button>
                </div>
            }
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.FirstName)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.FirstName</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.MiddleName)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.MiddleName</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.LastName)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.LastName</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.Nickname)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.Nickname</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.PreferedUserName)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.PreferedUserName</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.Website)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.Website</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.Email)</label>
                <div>
                    <p class="form-control-static truncate">
                        @Model.UserProfileViewModel.Email
                        @{
                            if (Model.UserProfileViewModel.EmailVerified)
                            {
                                <i class="fas fa-check pull-right text-success"
                                   data-toggle="tooltip" data-placement="bottom" data-html="true" title="Email confirmed"></i>
                            }
                            else
                            {
                                <i class="fas fa-exclamation-triangle pull-right text-warning"
                                   data-toggle="tooltip" data-placement="bottom" data-html="true" title="Email not confirmed"></i>
                            }
                        }
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.Gender)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.Gender</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.BirthDate)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.BirthDate?.ToString(new CultureInfo(Model.UserProfileViewModel.Locale).DateTimeFormat.ShortDatePattern)</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.TimeZone)</label>
                <div>
                    <p class="form-control-static truncate">@(TimeZoneInfo.GetSystemTimeZones().SingleOrDefault(t => t.Id == Model.UserProfileViewModel.TimeZone)?.DisplayName)</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.Locale)</label>
                <div>
                    <p class="form-control-static truncate">@(CultureInfo.GetCultures(CultureTypes.SpecificCultures).Where(c => c.Name == Model.UserProfileViewModel.Locale)?.Select(c => $"{c?.Name } - {c?.NativeName}").FirstOrDefault())</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.PhoneNumber)</label>
                <div>
                    <p class="form-control-static truncate">
                        @Model.UserProfileViewModel.PhoneNumber
                        @{
                            if (Model.UserProfileViewModel.PhoneNumberVerified)
                            {
                                <i class="fas fa-check pull-right text-success"
                                   data-toggle="tooltip" data-placement="bottom" data-html="true" title="Phone number confirmed"></i>
                            }
                            else
                            {
                                <i class="fas fa-exclamation-triangle pull-right text-warning" id="iconWarningPhoneConfirm"
                                   data-toggle="tooltip" data-placement="bottom" data-html="true" title="Phone number not confirmed"></i>
                            }
                        }
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.Address)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.Address</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class=" control-label">@Html.DisplayNameFor(model => model.UserProfileViewModel.UpdatedAt)</label>
                <div>
                    <p class="form-control-static truncate">@Model.UserProfileViewModel.UpdatedAt</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <legend>
                    Roles
                </legend>
                <ul>
                    @foreach (var role in Model.Roles)
                    {
                        <li>@role</li>
                    }
                </ul>
            </fieldset>
        </div>
    </form>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/Profile/index.js" asp-append-version="true"></script>
}
