@page
@model MoatGate.Pages.User.ListModel
@{
    ViewData["Title"] = "Users";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-page="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MoatGateIdentityUsers[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoatGateIdentityUsers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoatGateIdentityUsers[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoatGateIdentityUsers[0].LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoatGateIdentityUsers[0].LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoatGateIdentityUsers[0].AccessFailedCount)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MoatGateIdentityUsers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @(item.LockoutEnabled ? "Yes" : "No" )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <div class="btn-group btn-group-sm pull-right">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Edit"><i class="fas fa-edit"></i></a>
                    <button type="button" class="btn btn-sm btn-danger deletePopOver"><i class="fas fa-trash"></i></button>
                </div>
                <div class="confirmDeletePopover">
                    <form method="post">
                        <div class="btn-group btn-group-sm pull-right confirmDeletePopoverBtnGroup">
                            <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id" class="btn btn-sm btn-success" title="Delete"><i class="fas fa-check"></i> Confirm</button>
                            <button type="button" class="btn btn-sm btn-danger btnCancelDelete"><i class="fas fa-times"></i> Cancel</button>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript" src="~/js/Users/list.js" asp-append-version="true"></script>
}
