@page "{id:guid}"
@using System.Globalization
@model MoatGate.Pages.User.ProfileManagementModel
@section Styles {
    <link rel="stylesheet" href="~/css/profile.css" />
}
<div>
    <h1>Manage User Profile</h1>
    <hr />
    <form class="form-horizontal" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="col-lg-2 text-center profileEditOptions">
            <div class="row">
                <img id="profile-img" class="profile-img-card img-circle" src="~/api/internal/profile/avatar/@(@Model.EditProfileViewModel.Id)" />
            </div>
            <div class="form-group">
                <label class="control-label">User ID</label>: @Model.Id
            </div>
            <div class="form-group">
                <label class="control-label">Username</label>: @Model.Username
            </div>
            <div class="row">
                <div class="btn-group-vertical" role="group">
                    <button type="submit" class="btn btn-primary btn-success"><i class="fas fa-save"></i> Save Edit</button>
                    <a asp-page="./List" class="btn btn-primary btn-danger"><i class="fas fa-times"></i> Cancel Edit</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <input type="hidden" asp-for="@Model.EditProfileViewModel.Id" />
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.FirstName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.FirstName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.MiddleName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.MiddleName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.LastName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.LastName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Nickname)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Nickname" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.PreferedUserName)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.PreferedUserName" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Website)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Website" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Email)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Email" />
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Gender)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Gender" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.BirthDate)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.BirthDate" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.TimeZone)</label>
                <div>
                    <select class="form-control applyChosen" data-placeholder="Select Timezone" id="ddlTimezone" asp-for="EditProfileViewModel.TimeZone" asp-items="@(new SelectList(Model.TimeZones, "Key", "Value"))">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Locale)</label>
                <div>
                    <select class="form-control applyChosen" data-placeholder="Select Locale" id="ddlLocale" asp-for="EditProfileViewModel.Locale" asp-items="@(new SelectList(Model.Cultures, "Key", "Value"))">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.PhoneNumber)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.PhoneNumber" />
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">@Html.DisplayNameFor(model => model.EditProfileViewModel.Address)</label>
                <div>
                    <input class="form-control" asp-for="@Model.EditProfileViewModel.Address" />
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <fieldset>
                <legend>Roles</legend>
                @foreach (var role in Model.RoleChecks)
                {
                    <div>
                        <input class="checkbox checkbox-inline" asp-for="RoleChecks[role.Key]" /> <label>@role.Key</label>
                    </div>
                }
            </fieldset>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Profile/edit.js" asp-append-version="true"></script>
}
