@page "{id:int?}"
@model MoatGate.Pages.Resources.Identity.CreateEditModel

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="IdentityResource.Id" />
            <div class="form-group">
                <label asp-for="IdentityResource.Name" class="control-label"></label>
                <input asp-for="IdentityResource.Name" class="form-control" />
                <span asp-validation-for="IdentityResource.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityResource.DisplayName" class="control-label"></label>
                <input asp-for="IdentityResource.DisplayName" class="form-control" />
                <span asp-validation-for="IdentityResource.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdentityResource.Description" class="control-label"></label>
                <input asp-for="IdentityResource.Description" class="form-control" />
                <span asp-validation-for="IdentityResource.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IdentityResource.Enabled" /> @Html.DisplayNameFor(model => model.IdentityResource.Enabled)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IdentityResource.Emphasize" /> @Html.DisplayNameFor(model => model.IdentityResource.Emphasize)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IdentityResource.Required" /> @Html.DisplayNameFor(model => model.IdentityResource.Required)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IdentityResource.ShowInDiscoveryDocument" /> @Html.DisplayNameFor(model => model.IdentityResource.ShowInDiscoveryDocument)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IdentityResource.UserClaims" class="control-label"></label>
                @{
                    Html.RenderPartial("./PartialViews/IdentityResourceClaims", Model.IdentityResource.UserClaims);
                }
            </div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <div class="form-group btn-group pull-right btnGroupSave">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save" aria-hidden="true"></i> Save</button>
                        <a asp-page="Index" class="btn btn-danger"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back to List</a>
                    </div>
                </div>
            </nav>
        </form>
    </div>
</div>
@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/Resources/Identity/identity-reource-create-edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Resources/Identity/identity-reource-create-edit.min.js" asp-append-version="true"></script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
