@page
@model MoatGate.Pages.Roles.ListModel
@{
    ViewData["Title"] = "Roles";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a asp-page="CreateEdit" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
</p>
<form method="post">
    <table class="table table-condensed table-responsive table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MoatGateIdentityRoles[0].Name)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MoatGateIdentityRoles)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm pull-right">
                            <a asp-page="./CreateEdit" asp-route-id="@item.Id" class="btn btn-sm btn-primary" title="Edit"><i class="fas fa-edit"></i></a>
                            <button type="button" class="btn btn-sm btn-danger deletePopOver"><i class="fas fa-trash"></i></button>
                        </div>
                        <div class="confirmDeletePopover">
                            <div class="btn-group btn-group-sm pull-right confirmDeletePopoverBtnGroup">
                                <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id" class="btn btn-sm btn-success" title="Delete"><i class="fas fa-check"></i> Confirm</button>
                                <button type="button" class="btn btn-sm btn-danger btnCancelDelete"><i class="fas fa-times"></i> Cancel</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
