@page "{id:int?}"
@model MoatGate.Pages.Client.CreateEditModel
@using IdentityServer4;
@{
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <input type="hidden" asp-for="Client.Id" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <fieldset>
                <legend>Basic Info</legend>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.Enabled" /> @Html.DisplayNameFor(model => model.Client.Enabled)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Client.ClientId" class="control-label"></label>
                    <input asp-for="Client.ClientId" class="form-control" />
                    <span asp-validation-for="Client.ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.ClientSecrets" class="control-label"></label>
                    @{
                        Html.RenderPartial("./PartialViews/ClientSecret", Model.Client.ClientSecrets);
                    }
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.RequireClientSecret" /> @Html.DisplayNameFor(model => model.Client.RequireClientSecret)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Grant Types (Flows)</label>
                    @{
                        Html.RenderPartial("./PartialViews/GrantType", Model.GrantTypes);
                    }
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.RequirePkce" /> @Html.DisplayNameFor(model => model.Client.RequirePkce)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.AllowPlainTextPkce" /> @Html.DisplayNameFor(model => model.Client.AllowPlainTextPkce)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Client.RedirectUris" class="control-label"></label>
                    @{
                        Html.RenderPartial("./PartialViews/RedirectUris", Model.Client.RedirectUris);
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Client.AllowedScopes" class="control-label"></label>
                    @{
                        Html.RenderPartial("./PartialViews/AllowedScopes", Model.Client.AllowedScopes);
                    }
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.AllowOfflineAccess" /> @Html.DisplayNameFor(model => model.Client.AllowOfflineAccess)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.AllowAccessTokensViaBrowser" /> @Html.DisplayNameFor(model => model.Client.AllowAccessTokensViaBrowser)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Properties" class="control-label"></label>
                    @{

                        Html.RenderPartial("./PartialViews/ClientProperties", Model.Client.Properties);
                    }
                </div>
            </fieldset>
            <fieldset>
                <legend>Authentication/Logout</legend>
                <div class="form-group">
                    <label asp-for="Client.PostLogoutRedirectUris" class="control-label"></label>
                    @{

                        Html.RenderPartial("./PartialViews/PostLogoutRedirectUris", Model.Client.PostLogoutRedirectUris);
                    }
                </div>
                <div class="form-group">
                    <label asp-for="Client.FrontChannelLogoutUri" class="control-label"></label>
                    <input asp-for="Client.FrontChannelLogoutUri" class="form-control" />
                    <span asp-validation-for="Client.FrontChannelLogoutUri" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.FrontChannelLogoutSessionRequired" /> @Html.DisplayNameFor(model => model.Client.FrontChannelLogoutSessionRequired)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Client.BackChannelLogoutUri" class="control-label"></label>
                    <input asp-for="Client.BackChannelLogoutUri" class="form-control" />
                    <span asp-validation-for="Client.BackChannelLogoutUri" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.BackChannelLogoutSessionRequired" /> @Html.DisplayNameFor(model => model.Client.BackChannelLogoutSessionRequired)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.EnableLocalLogin" /> @Html.DisplayNameFor(model => model.Client.EnableLocalLogin)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Client.IdentityProviderRestrictions" class="control-label"></label>
                    @{
                        Html.RenderPartial("./PartialViews/ClientIdpRestrictions", Model.Client.IdentityProviderRestrictions);
                    }
                </div>
            </fieldset>
            <fieldset>
                <legend>Token</legend>
                <div class="form-group">
                    <label asp-for="Client.IdentityTokenLifetime" class="control-label"></label>
                    <input asp-for="Client.IdentityTokenLifetime" min="0" class="form-control" />
                    <span asp-validation-for="Client.IdentityTokenLifetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.AccessTokenLifetime" class="control-label"></label>
                    <input asp-for="Client.AccessTokenLifetime" min="0" class="form-control" />
                    <span asp-validation-for="Client.AccessTokenLifetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.AuthorizationCodeLifetime" class="control-label"></label>
                    <input asp-for="Client.AuthorizationCodeLifetime" min="0" class="form-control" />
                    <span asp-validation-for="Client.AuthorizationCodeLifetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.AbsoluteRefreshTokenLifetime" class="control-label"></label>
                    <input asp-for="Client.AbsoluteRefreshTokenLifetime" min="0" class="form-control" />
                    <span asp-validation-for="Client.AbsoluteRefreshTokenLifetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.SlidingRefreshTokenLifetime" class="control-label"></label>
                    <input asp-for="Client.SlidingRefreshTokenLifetime" min="0" class="form-control" />
                    <span asp-validation-for="Client.SlidingRefreshTokenLifetime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">RefreshTokenUsage</label>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Client.RefreshTokenUsage" value="0">
                            Reuse
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Client.RefreshTokenUsage" value="1">
                            One Time Only
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">RefreshTokenExpiration</label>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Client.RefreshTokenExpiration" value="0">
                            Sliding
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Client.RefreshTokenExpiration" value="1">
                            Absolute
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.UpdateAccessTokenClaimsOnRefresh" /> @Html.DisplayNameFor(model => model.Client.UpdateAccessTokenClaimsOnRefresh)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">AccessTokenType</label>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Client.AccessTokenType" value="0">
                            Json Web Token (JWT)
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" asp-for="Client.AccessTokenType" value="1">
                            Reference
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Client.IncludeJwtId" /> @Html.DisplayNameFor(model => model.Client.IncludeJwtId)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Client.Claims" class="control-label"></label>
                    @{
                        Html.RenderPartial("./PartialViews/ClientClaims", Model.Client.Claims);
                    }
                </div>
            </fieldset>
            <fieldset>
                <legend>Consent Screen</legend>
                <div class="form-group">
                    <label asp-for="Client.ClientName" class="control-label"></label>
                    <input asp-for="Client.ClientName" class="form-control" />
                    <span asp-validation-for="Client.ClientName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.ClientUri" class="control-label"></label>
                    <input asp-for="Client.ClientUri" class="form-control" />
                    <span asp-validation-for="Client.ClientUri" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Client.LogoUri" class="control-label"></label>
                    <input asp-for="Client.LogoUri" class="form-control" />
                    <span asp-validation-for="Client.LogoUri" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Save <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Back to List</a>
</div>
@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/Clients/client-create-edit.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/Clients/client-create-edit.min.js" asp-append-version="true"></script>
    </environment>
}
