@model IList<IdentityServer4.EntityFramework.Entities.ApiScope>
<section data-scope="partials-api-resource-scopes">
    <p>
        <button type="button" class="btn btn-sm btn-primary" id="btn-add-api-resource-scope"><i class="fas fa-plus"></i> Create New</button>
    </p>
    <table class="table table-condensed table-responsive table-striped table-hover" id="tbl-api-resource-scope">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Description)
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0; }
            @foreach (var item in Model)
            {
                <tr class="scopeValues">
                    <td>
                        <input type="hidden" class="form-control" name="ApiResource.Scopes[@i.ToString()].Id" value="@item.Id" />
                        <input type="text" class="form-control" name="ApiResource.Scopes[@i.ToString()].Name" value="@item.Name" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="ApiResource.Scopes[@i.ToString()].DisplayName" value="@item.DisplayName" />
                    </td>
                    <td>
                        <input type="text" class="form-control" name="ApiResource.Scopes[@i.ToString()].Description" value="@item.Description" />
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="scopeCheckbox" @{if (item.Required) { <text> checked </text>  } } /> Required
                                    <input type="hidden" class="scopeCheckboxHiddentTextValue" name="ApiResource.Scopes[@i.ToString()].Required"
                                           @{if (item.Required) { <text> value="true" </text>  } else { <text> value="false" </text>  } } />
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="scopeCheckbox" @{if (item.Emphasize) { <text> checked </text>  } } /> Emphasize
                                    <input type="hidden" class="scopeCheckboxHiddentTextValue" name="ApiResource.Scopes[@i.ToString()].Emphasize"
                                           @{if (item.Emphasize) { <text> value="true" </text>  } else { <text> value="false" </text>  } } />
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="scopeCheckbox" @{if (item.ShowInDiscoveryDocument) { <text> checked </text>  } } /> Show In Discovery Document
                                    <input type="hidden" class="scopeCheckboxHiddentTextValue" name="ApiResource.Scopes[@i.ToString()].ShowInDiscoveryDocument"
                                           @{if (item.ShowInDiscoveryDocument) { <text> value="true" </text>  } else { <text> value="false" </text>  } } />
                                </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-sm btn-danger  btn-delete-api-resource-scope" title="Delete"><i class="fas fa-trash-o"></i></button>
                        </div>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <script id="api-resource-scope-template" type="text/x-jsrender">
        <tr class="scopeValues">
            <td>
                <input type="hidden" class="form-control" name="ApiResource.Scopes[{{:index}}].Id" value="{{:id}}" />
                <input type="text" class="form-control" name="ApiResource.Scopes[{{:index}}].Name" value="{{:name}}" />
            </td>
            <td>
                <input type="text" class="form-control" name="ApiResource.Scopes[{{:index}}].DisplayName" value="{{:displayName}}" />
            </td>
            <td>
                <input type="text" class="form-control" name="ApiResource.Scopes[{{:index}}].Description" value="{{:description}}" />
            </td>
            <td>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="scopeCheckbox" /> Required
                            <input type="hidden" class="scopeCheckboxHiddentTextValue" name="ApiResource.Scopes[{{:index}}].Required" value="false" />
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="scopeCheckbox" /> Emphasize
                            <input type="hidden" class="scopeCheckboxHiddentTextValue" name="ApiResource.Scopes[{{:index}}].Emphasize" value="false" />
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="scopeCheckbox" checked /> Show In Discovery Document
                            <input type="hidden" class="scopeCheckboxHiddentTextValue" name="ApiResource.Scopes[{{:index}}].ShowInDiscoveryDocument" value="true" />
                        </label>
                    </div>
                </div>
            </td>
            <td>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-sm btn-danger btn-delete-api-resource-scope" title="Delete"><i class="fas fa-trash-o"></i></button>
                </div>
            </td>
        </tr>
    </script>
</section>